*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 56%; } }

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  color: #2f1533; }

.container {
  max-width: 144rem;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 700px) {
    .container {
      height: fit-content; } }
  .container .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1111111;
    background-color: #f9f0ff; }
  .container .foreground {
    max-width: 61rem;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 3.6rem 4rem; }
    @media only screen and (max-width: 700px) {
      .container .foreground {
        margin: 20rem 2rem;
        padding: 3rem 3rem 1rem; } }
    .container .foreground .accordions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }

.attribution {
  text-align: center; }

.heading--secondary {
  font-size: 5.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem; }
  @media only screen and (max-width: 700px) {
    .heading--secondary {
      font-size: 4rem; } }
  .heading--secondary .icon__heading {
    width: 3.6rem;
    height: auto; }
    @media only screen and (max-width: 700px) {
      .heading--secondary .icon__heading {
        width: 3rem; } }

.heading--tertiary {
  justify-self: start;
  font-size: 1.8rem;
  cursor: pointer; }
  .heading--tertiary:hover {
    color: #8c6991; }

.hidden {
  height: 0;
  visibility: hidden;
  margin: 0 !important;
  transition: all 0.3s; }

.accordion {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center; }
  @media only screen and (max-width: 700px) {
    .accordion {
      column-gap: 2.4rem; } }
  .accordion:not(:last-child) {
    border-bottom: 1px solid rgba(47, 21, 51, 0.1); }
  .accordion .icon {
    cursor: pointer; }
  .accordion__text {
    grid-column: 1 / -1;
    color: #8c6991;
    margin-top: 2rem;
    transition: height 0.3s, margin 0.3s; }
